li {
  list-style: none;
}

.bg-primary {
  background: #41b883 !important;
}

.letter-spacing {
  letter-spacing: 0.025rem !important;
}

.decoration-none {
  text-decoration: none;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.t-0 {
  top: 0;
}

.l-0 {
  left: 0;
}

.r-0 {
  right: 0;
}

.b-0 {
  bottom: 0;
}

.fill-width {
  width: 100% !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.rounded {
  border-radius: 4px;
}

.hover-underline:hover {
  text-decoration: underline;
}

.hover-color:hover > i {
  color: #41b883 !important;
}

.v-input__slot {
  border: 1px solid #bdbdbd;
  margin-bottom: 0px !important;
  border-radius: 4px !important;
}

.container.d-flex.pt-2 .v-btn__content {
  height: 100% !important;
}
